<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Pair of Words</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>About</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      ⚡️ Capacitor plugin for ML Kit Translation.
    </ion-card-content>
    <ion-row class="ion-no-padding">
      <ion-col>
        <ion-button
          fill="clear"
          (click)="openOnGithub()"
          class="ion-float-right"
          >GitHub</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Translate</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="translateFormGroup">
        <ion-item>
          <ion-label position="fixed">Text</ion-label>
          <ion-input type="text" formControlName="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Source Language</ion-label>
          <ion-select formControlName="sourceLanguage">
            <ion-select-option
              *ngFor="let item of language | keyvalue"
              [value]="item.value"
              >{{ item.key }}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Target Language</ion-label>
          <ion-select formControlName="targetLanguage">
            <ion-select-option
              *ngFor="let item of language | keyvalue"
              [value]="item.value"
              >{{ item.key }}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Translation</ion-label>
          <ion-input
            type="text"
            readonly
            formControlName="translatedText"
          ></ion-input>
        </ion-item>
      </form>
      <ion-button (click)="translate()">Translate</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Manage Models</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="manageModelsFormGroup">
        <ion-item>
          <ion-label position="fixed">Language</ion-label>
          <ion-select formControlName="languages" [multiple]="true">
            <ion-select-option
              *ngFor="let item of language | keyvalue"
              [value]="item.value"
              >{{ item.key }}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </form>
      <ion-button (click)="saveModels()" [disabled]="disableSaveModelsButton"
        >Save</ion-button
      >
    </ion-card-content>
  </ion-card> -->
  <ion-item class="ion-margin">
    <ion-label>Language</ion-label>
    <ion-select label="Language" placeholder="Select Language" value="german">
      <ion-select-option value="german">German</ion-select-option>
      <ion-select-option value="portuguese">Portuguese</ion-select-option>
      <ion-select-option value="english">English</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-grid style="position: absolute; top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); width: 100%;">
    <ion-row *ngFor="let pairOfWord of pairOfWords">
      <ion-col size="6">
        <ion-button color="medium" fill="outline" expand="block" size="large">{{ pairOfWord.translated }}</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button color="medium" fill="outline" expand="block" size="large">{{ pairOfWord.english }}</ion-button>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="6">
        <ion-button color="success" expand="block" size="large">frau</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button color="success" expand="block" size="large">woman</ion-button>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-button color="light" expand="block" size="large">
    <ion-icon name="shuffle-outline" class="ion-margin-end"></ion-icon>Shuffle
  </ion-button>
</ion-footer>